@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Common styles for title and grid */
.collections-title {
    font-size: 32px;
    margin: 40px 80px 20px 80px; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

body {
    margin: 0 auto;
}

.item-desc {
    display: flex;
    justify-content: space-between;
    margin: 14px;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 16px 32px;
}

/* Navbar styles */
.navbar img {
    width: 24px;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffff;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    flex-grow: 1;
}

.navbar-center {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar-center li {
    margin-right: 36px;
}

.navbar-center a {
    text-decoration: none;
    color: #212429;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right {
    justify-content: space-between;
    width: 150px;
}

/* Footer styles */
footer {
    background-color: #212429;
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.footer-item {
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-item img {
    width: 50px;
    background-color: white;
    border-radius: 30%;
    padding: 10px;
    margin-right: 10px;
}

.footer-item span {
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 919px) {
    header,
    header .navbar,
    .navbar .navbar-left img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-center,
    .navbar-right img,
    .navbar .navbar-right {
        display: none;
    }

    .collections-title {
        margin: 20px 0;
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }

    .footer-item {
        width: 100%;
        border-bottom: 1px solid white;
        padding: 20px;
    }
}

.navbar a {
    position: relative;
    color: #212429;
    text-decoration: none;
    padding-bottom: 5px;
}

.navbar a:hover {
    color: #FF5733;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF5733;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}